@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gamja+Flower&family=Song+Myung&display=swap');
html{
    font-size: 20px;
    padding: 10px;
}
/* .main{
    font-family: 'Song Myung', serif;
}
.center{
    font-family: 'Gamja Flower', cursive;
    font-size: 1.5rem;
}
.last{
    font-family: 'Gamja Flower', cursive;
} */
