
body{
    background-image: url("./images/pattern.png");
    background-repeat: repeat;
    background-size: 5rem;
    background-color: grey;
    position:fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
div{
    border-radius: 0.5rem;
    top: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
    bottom: 0.5rem;
}

.bookcover{
    position: absolute;
    top: 10rem;
    right: 3rem;
    left: 3rem;
    bottom: 10rem;
    background-color: aqua;
    margin: 1rem;
    padding: 1rem;
    
}

.bookdot{
    position: absolute;
    border: 0.1rem white dashed;

}

.page{
    position: absolute;
    padding: 3rem;
    background-color: white;
}
