
body {
    background-color: #a3a3a3;
    background-image: url("../static/images/pattern.png");
    background-size: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.bookcover {
    background-color: #b4d1da;
    border-radius: 9px;
    border: 1px solid #738186;
    width: 960px;
    height: 660px;
    margin: 100px auto;
    position: relative;
}

.bookdot {
    border-radius: 9px;
    border: 2px dashed #ffffff;
    padding: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.page {
background-color: #eeeeee;
border-radius: 9px;
position: absolute;
top: 10px;
left: 10px;
right: 10px;
bottom: 10px;
}

.flex_column{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    /* border: 1px dashed black; */
}

.flex_row{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    /* border: 1px dashed black; */
}

.flex_item{
    flex: 1;
}

.carrot{
    color:lightcoral;
}

.navigation_area{
    flex: 1;

}
.container_area{
    flex: 5;
}
.button_area{
    flex:1;
    border-radius: 9px;
}
.navigation_head{
    padding: 0.2rem 1rem;
    flex:0.1;
    font-size: 0.2px;
}

.container_head{
    padding: 0.2rem 1rem;

    flex:0.1;
    font-size: 0.2px;
}

.container_right_head{
    flex:0;
}

.profile_img_area{
    flex:0;
}

.profile_content{
    flex:0;
    font-size: 0.2px;
}

.navigation_end_content{
    flex:0;
    font-size: 0.2px;
}

.navigation_body{
    background-color: white;
    border-radius: 9px;
    flex:7;
    margin: 5px;
    padding: 5px;
}

.container_body{
    background-color: white;
    border-radius: 9px;
    flex:7;
    margin: 5px;
    padding: 5px;
}

#merona{
    margin: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}


.menu_container{
    margin-top: 3rem;
}

.menu_container>a{
  font-size: 0.85rem;
  background-color:#3b87ab;
  margin: 6px;
  color: white;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  border-radius:0px 6px 6px 0px;
  border: 1px solid #617dc1;
  color: white;
  }

  .menu_container>a:hover{
      background-color: #617dc1;
  }

  
.profile-dropdown {
    flex: 0;
    border: 1px solid #c9d4da;
    padding: 5px;
    margin-top: 10px;
    font-size: 0.8rem;
    position: relative;
  }
  
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid #838383;
  }
  
  .dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .profile-dropdown:hover > .dropdown-content {
    display: block;
  }
  
  .dropdown-content > a {
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 6px;
    color: black;
    text-decoration: none;
  }
  
  .dropdown-content > a:hover {
    background-color: #f1f1f1;
  }
