
body {
    background-color: #a3a3a3;
    background-image: url("../static/images/pattern.png");
    background-size: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.bookcover {
    background-color: #b4d1da;
    border-radius: 9px;
    border: 1px solid #738186;
    width: 960px;
    height: 660px;
    margin: 100px auto;
    position: relative;
}

.bookdot {
    border-radius: 9px;
    border: 2px dashed #ffffff;
    padding: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.page {
background-color: #eeeeee;
border-radius: 9px;
position: absolute;
top: 10px;
left: 10px;
right: 10px;
bottom: 10px;
}

.container_body{
    overflow-y:scroll;
}

.flex_column{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    /* border: 1px dashed black; */
}

.flex_row{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    /* border: 1px dashed black; */
}

.flex_item{
    flex: 1;
}

.carrot{
    color:lightcoral;
}
