.scrolling{
    position: absolute;
    top: 30px;
    bottom: 15px;
    margin-top: 3rem;
    overflow: auto;
}

.diary_calendar{
    position: absolute;
    height: 3rem;
    border: 1px gray solid;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    flex:0;
    flex-wrap: nowrap;
}

.today{
    flex: 1;
    font-size: 1rem;
    text-align: center;
    color: #3b87ab;
}

.all_day{
    flex:7;
    font-size: 1rem;
}

.diary_item{
    border: 1px gray solid;
    border-radius: 3px;
    margin: 1rem;
    padding: 0.5rem 1rem;
}

.diary_date{
    color: #3b87ab;
    font-size: 1rem;
}

.diary_content{
    text-align: center;
    font-size: 0.7rem;
    padding-top: 1rem;
}

.container_body{
    position:relative;
}

.blue{
    color: blue;
}

.red{
    color: red;
}

.secret_area{
    display: flex;
    justify-content: center;
}


#secret_dairy_btn{
    margin-top: 1rem;
    background: #fff;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    transition: 800ms ease all;
    border: none;
}

#secret_dairy_btn:hover {
    cursor: pointer;
    background: #1aab8a;
    color: #fff;
}