
.update_news_box{
    flex:0;
    font-size: 0.7rem;
}

.update_news_item{
    flex:0;
}


.update_news_header{
    flex:0.1;
    font-weight: bolder;
    color: lightblue;
    font-size: 1.2rem;
    padding-left: 5px;
    margin: 5px;
    border-bottom: 1px solid black;
}

.update_news_body{
    flex: 0;
}


.list_item{
    flex:0;
}

.photo_badge{
    flex: 0.2;
    background-color: red;
    color: #ffffff;
    font-weight: bolder;
    font-size: 10px;
    margin: 1px;
    padding: 1px;
    border-radius: 7px;
    text-align: center;
}

.book_badge{
    flex: 0.2;
    background-color: blue;
    color: #ffffff;
    font-weight: bolder;
    font-size: 10px;
    margin: 1px;
    padding: 1px;
    border-radius: 7px;
    text-align: center;
}


.num_of_book_list{
    flex: 1;
    color: blue;
}

.item_of_book_list{
    flex: 1;
}

.miniroom_box{
    flex:0;
}

.miniroom_box_header{
    flex:0.1;
    font-weight: bolder;
    color: lightblue;
    font-size: 1.2rem;
    padding-left: 5px;
    margin: 5px;
    border-bottom: 1px solid black;
}

#otter{
    width: 30%;
}

.miniroom_box_body{
    background-color:#1597dd;
    border: 1px solid #808080;
    align-items: center;
    justify-content: center;    
}

